body{
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #8B97AA;
    margin: 0px;
    padding: 0px;
}

.text-center{
    text-align: center;
}

.nav{
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #0000001A;
    border-bottom: solid 1px #CCCCCC;
    padding: 0px 20px;
    height: 60px;
}

.nav-logo{
    padding: 5px 0px;
}

.nav-logo-image{
    width: 142px;
    height: 32px;
}

.nav-content{
    color: #8B97AA;
}

.nav-content-link{
    display: flex;
    list-style: none;
}

.nav-link{
    padding: 30px 20px;
    text-decoration: none;
    font-weight: 1000;
    font-size: 14px;
    color: #010101;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.nav-link:hover{
    color: #0483F9;
}

.nav-login-button{
    padding: 0px 20px;
}

.login-button{
    margin: 0px 0px 0px 5px;
    padding: 10px 8px;
    font-size: 12px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    border: 1px solid #2B7BFF;
    border-radius: 4px !important;
    background: #FFFFFF;
    color: #2B7BFF;
    text-transform: uppercase;
    align-items: center;
}

.fa-user{
    color: #2B7BFF;
}

.section1{
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
    align-items: center;


    background: url('./assests/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.slides-content{
    padding: 20px 10px 20px 200px;
    width: 50%;
    justify-content: space-around;
}

.slides-heading{
    color: #1C1C1C;
    font-family: 'Poppins';
    font-weight: bold;
}

.slides-heading h1{
    font-size: 48px;
    line-height: 58px;
    margin: 0px 0px 15px 0px;
    padding: 80px 0px 0px 0px;
}

.blue{
    color: #2B7BFF;
    font-size: 48px;
}

.slides-text{
    color: #707070;
    font-size: 16px;
    font-family: 'Poppins';
    padding: 20px 0px;
}

.section1-download h4{
    padding: 0px 0px 15px;
    font-size: 14px;
    font-family: 'Poppins';
    color: #999999;
}

.slides-images{
    margin-top: 100px;
    padding: 20px 10px;
    width: 50%;
}

.slide-image{
    width: 398.8px;
    height: 398.8px;
    border-radius: 30px;
}

.section2{
    background-color: #1C1C1C;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    border: 0px;
    vertical-align: baseline;
}

.section2-heading{
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px 12px;
}

.section2-counter-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.section2-counter{
    padding: 48px 20px 0px;
}

.section2-counter-image{
    width: 160px;
    height: 160px;
    margin: 0px 0px 15px;
}

.image-description{
    margin: 0px 0px 5px;
    font-weight: bold;
}

.prefix{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.number{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 3px;
}

.postfix{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.section2-description{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.section3{
    z-index: 1;
    padding: 64px;
    position: relative;
}

.section3-heading{
    font-size: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #1C1C1C;
}

.section3-content{
    margin: 16px 0px;
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #1C1C1C;
}

.section3-slides{
    display: flex;
    justify-content: space-evenly;
}

.section3-img{
    width: 340.9px;
    height: 237.94px;
    border-radius: 10px;
}

.section3-slides-text{
    padding: 10px 50px 10px 20px;
    width: 50%;
}

.section3-slides-text h4{
    color: #1C1C1C;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 16px 0px;
}

.section3-slides-text p{
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 16px 0px;
    margin: 0px;
    color: #1C1C1C;
}

.merchant-offering-heading{
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #1C1C1C;
}

.merchant-offering-content{
    width: 100%;
    height: 100%;
}

.toggle-buttons{
    max-width: 395px;
    margin: 48px auto 32px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 0px;
    box-shadow: 2px 1px 2px 2px #0000001A;
}

.toggle-buttons a{
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: .625px;
    text-transform: uppercase;
    color: #3C3C3B;
    padding: 10px 20px;
    text-decoration: none;
}

#active{
    color: #FFFFFF;
    cursor: default;
    background: #2B7BFF;
    border-radius: 10px;
}

.merchant-offering-slides{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}

.slide1{
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 16px;
    width: 530.7px;
    height: 434.71px;
}

.slide1-content{
    box-shadow: -20px 0px 15px rgba(0,0,0,0.03), 0px 8px 15px 0px rgba(0,0,0,0.06), 0 12px 16px rgba(0,0,0,0.06);
    border-radius: 10px;
    text-align: center;
    padding: 16px;
    background: #fff;
}

.merchant-offering-slide-image{
    width: 498.7px;
    height: 228.38px;
    border-radius: 10px;
}

.merchant-offering-slide-heading{
    font-size: 24px;
    font-family: 'Poppins';
    color: #1C1C1C;
    padding: 20px 0px 0px;
    margin: 0px;
}

.merchant-offering-slide-text{
    font-size: 16px;
    font-family: 'Poppins';
    margin: 16px 20px;
    color: #707070;
}

.slide1-content a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2B7BFF;
    background: url(http://test-website.bharatpe.io/wp-content/uploads/2022/09/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.slide2{
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 16px;
    width: 530.7px;
    height: 434.71px;
}

.slide2-content{
    box-shadow: -20px 0px 15px rgba(0,0,0,0.03), 0px 8px 15px 0px rgba(0,0,0,0.06), 0 12px 16px rgba(0,0,0,0.06);
    border-radius: 10px;
    text-align: center;
    padding: 16px;
    background: #fff;
}

.slide2-content a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2B7BFF;
    background: url(http://test-website.bharatpe.io/wp-content/uploads/2022/09/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2px 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.consumer-offering-heading{
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #1C1C1C;
}

.consumer-offering-content{
    margin: 0px 100px;
}

.section5-slide1{
    display: flex;
}

.section5-img{
    width: 381.6px;
    height: 381.6px;
}

.section5-slides-text{
    padding: 0px 50px;
}

.postpe-img-container p{
    padding: 16px 0px;
    margin: 0px;
}

.postpe-img{
    width: 216px;
    height: 48.76px;
}

.postpe-img-container h3{
    margin: 0px 0px 15px;
    font-size: 24px;
    font-family: 'Poppins';
    color: #1C1C1C;
}

.pro-feature{
    display: flex;
}

.pro-feature-img{
    width: 64.99px;
    height: 64.99px;
}

.pro-feature-description{
    display: inline-block;
    vertical-align: top;
    padding: 20px 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .15px;
    color: #1C1C1C;
    margin: 0px;
}

.pro-feature a{
    margin: 20px 0px;
    text-transform: uppercase;
    background: url(http://test-website.bharatpe.io/wp-content/uploads/2022/09/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2px 15px 2px 5px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #2B7BFF;
    text-decoration: none;
}

.section6{
    margin: 100px;

    background: url('./assests/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.merchant-stories-heading{
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #1C1C1C;
}

.merchant-stories-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-msg{
    margin: 0px 12px 40px;
    height: 240px;
    width: 240px;
}

.video-msg-poster{
    border-radius: 50%;
}

.video-msg-content h4{
    font-size: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #000F3B;
    font-weight: 1000;
    margin: 12px 0px 10px;
}

.video-msg-content p{
    margin: 0px 0px 10px;
    color: #707070;
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.view-more{
    margin: 40px 12px 40px;
    text-align: center;
}

.view-more-link{
    text-decoration: none;
}

.view-more-button{
    color: #2B7BFF;
    background: #FFFFFF;
    border: 1px solid #2B7BFF;
    border-radius: 4px;
    padding: 10px 22px;
    font: 15px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

.view-more-button:hover{
    color: #FFFFFF;
    background: #2B7BFF;
}

.recent-news-heading{
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #1C1C1C;
}

.recent-news-content span{
    font-size: 15px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #A8A8A8;
}

.recent-news-text{
    display: flex;
}

.card{
    padding: 10px 15px;
    margin: 0px 13.75px 20px;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.16);
    border-radius: 8px;
    min-height: 190px;
    border: 1px solid rgba(232,232,232,0.54);
    opacity: 1!important;
    transform: inherit!important;
    width: 31.33%;
}

.card-content{
    padding: 20px 0px 0px;
}

.card-heading{
    color: #23233e;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
}

.card-para{
    line-height: 24px;
    font-size: 14px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #8B97AA;
}

.read-more{
    vertical-align: bottom;
}

.card-link{
    margin:40px 0px;
    text-transform: uppercase;
    background: url(http://test-website.bharatpe.io/wp-content/uploads/2022/09/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2px 15px 2px 0px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #2B7BFF;
    text-decoration: none;
    position: relative;
}

.footer{
    background-color: #1C1C1C;
}

.footer1{
    padding: 64px 30px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px #3A3838;
}

.col{
    width: 40%;
}

.fourcol{
    font-family: 'Poppins';
}

.foot-logo-image{
    width: 160px;
    height: 44px;
}

.foot-description{
    color: #CCCCCC;
    padding: 32px 20px 32px 8px;
    font-size: 14px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.foot-download h4{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins';
    margin: 0px 0px 15px;
}

.footer1-text{
    justify-content: space-between;
}

.general{
    color: #FFFFFF;
}

.general h4{
    margin: 0px 0px 15px;
    font-size: 14px;
}

.foot-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.foot-list-link{
    text-decoration: none;
    color: #D0D0D0;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
}

.legal{
    color: #FFFFFF;    
}

.legal h4{
    margin: 0px 0px 15px;
    font-size: 14px;
}

.topspacing h4{
    padding: 20px 0px 0px;
    font-size: 14px;
}

.resources{
    color: #FFFFFF;
}

.resources h4{
    margin: 0px 0px 15px;
    font-size: 14px;
}

.corporate-governance{
    color: #FFFFFF;
}

.corporate-governance h4{
    margin: 0px 0px 15px;
    font-size: 14px;
}

.merchant-offerings{
    color: #FFFFFF;
}

.merchant-offerings h4{
    margin: 0px 0px 15px;
    font-size: 14px;
}

.footer2{
    padding: 32px;
    border-bottom: solid 0.5px #3A3838;
}

.footer2-list{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer2-logos{
    padding: 16px;
}

.footer3{
    margin: 0px;
    padding: 20px 20px 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.footer3-icons{
    margin: 0px 20px 0px 0px;
}

.copyright{
    color: #CCCCCC;
}

.footer3-icon-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.fa-brands{
    color: #707070;
    font-size: 25px;
}

.fa-brands:hover{
    color: #0483F9;
}

.fa-twitter{
    width: 40px;
    height: 25.33px;
}

.fa-linkedin-in{
    width: 36.88px;
    height: 25.33px;
}

.fa-facebook{
    width: 40px;
    height: 25.33px;
}

.fa-instagram{
    width: 30.13px;
    height: 22.67px;    
}

.fa-angle-up{
    color: #515151;
    width: 20px;
    height: 20px;
    font-size: 30px;
    margin-left: 30px;
}